.card-container {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: honeydew;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: visible;
  /* transform: translateZ(0); */
  transition: transform 0.15s ease-out;
}

.card-container:hover {
  transform: scale(1.03);
}

.text-container {
  margin: 1rem;
}

.text {
  margin: 0;
  padding: 0.5rem;
}

.image {
  width: 5rem;
}
