.App {
  text-align: center;
  /* background-color: #136f63; */
  background: linear-gradient(to left, #032b43, #136f63);
  padding: 2rem;
  min-height: 90vh;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-family: "Rampart One", cursive;
  letter-spacing: 0.25em;
  font-size: 3em;
  margin: 0;
  padding: 2rem 0;
  color: white;
}
